@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,900&display=swap');
:root {
    --background: #F4F5F9;
    --accent: #E54065;
    --border: #CFD2DC;
    --text: #636363;
    --filter-button: #E1E4EA;
    --read-background: #F2F2F2;
}